html, body {
    height: 100%;
}
#background {
    height: 100%;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}
.container {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #f7df1e;
    display: inline;
    position: absolute;
    padding-top: 65px;
    padding-left: 10px;
    font-size: 55px;
}
.status {
    height: 70px;
}
#timer, #quiz-status {
    font-size: 14pt;
}
#timer {
    float: left;
}
#quiz-status {
    float: right;
}
.question-area {
    height: 220px;
}
#startquiz, #submit {
    border-radius: 5px;
    border-style: none;
    background-color: #f7df1e;
    color: black;
    font-weight: bold;
    width: 100px;
    height: 30px;
}